---
import Posthog from "@/components/posthog.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
---

<html>
  <Head />
  <Posthog />
  <body class="space-y-4">
    <Header />
    <main class="max-w-5xl mx-auto px-4 pb-8">
      <slot />
    </main>
  </body>
</html>
